body{
    min-height:  93vh;
    background: rgb(202, 147, 202);
    color: rgb(206, 245, 99);
}

label{
    display: flex;
    min-height: 70vh;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

body>div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}